pefile>=2021.9.3
python-magic>=0.4.25; platform_system == 'Linux' or platform_system == 'Darwin'
python-magic-bin>=0.4.14; platform_system == 'Windows'
colorama>=0.4.4
simplejson>=3.17.6
requests>=2.26.0
validators>=0.18.2
geocoder>=1.38.1
polyswarm-api>=2.9.2

